services:
  mongo:
    image: mongo:6
    container_name: mongodb_dev
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: dev
      MONGO_INITDB_ROOT_PASSWORD: dev
      MONGO_INITDB_DATABASE: admin
  minio:
    image: minio/minio
    container_name: minio_dev
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"
  mongodb-backups:
    image: n9-backup
    container_name: n9-backup-dev
    environment:
      MINIO_ACCESS_KEY_ID: minioadmin
      MINIO_SECRET_ACCESS_KEY: minioadmin
      # MONGO_URI can be used instead of MONGODB_USER/MONGODB_PASSWORD and host/port
      MONGO_URI: mongodb://dev:dev@mongo:27017/admin
      # MONGODB_USER: dev
      # MONGODB_PASSWORD: dev
    volumes:
      - ./config.yaml:/home/config.yaml
    command: sleep infinity

